hr{
    clear:both;
    margin:20px 0;
}

.modeles_liste tbody > tr > td:first-child{
    font-size:15px;
}
.modeles_liste tbody > tr > td:first-child .modele_title{
    cursor:pointer;
}
.add_modele th{
    text-align:left;
}
.modeles_liste .modele td.modele_name input {
    border: 0;
    background: 0;
    padding: 0;
    width: auto;
    height: auto;
    font-size: 12px;
    cursor: pointer;
    color: #0073aa;
}
.modeles_liste .modele td.modele_name strong{
    color: #0073aa;
    cursor:pointer;
}
.modeles_liste .modele td.modele_name strong:hover,
.modeles_liste .modele td.modele_name input:hover{
    color: #00a0d2;
}
.modeles_liste .modele td.modele_name .trash input{
    color: #a00;
}
.modeles_liste .modele td.modele_name .trash input:hover{
    color: #dc3232;
}
.modele_modifier select,
.modele_modifier input {
    width: 100%;
    max-width: 100%;
}
.modif_modele_name{
    display: block;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #f9f9f9;
    padding: 10px;
}
.modif_modele_name strong{
    font-size: 16px;
}
.maj_modele {
    margin: 20px 0 !important;
    float: right;
}

input#wac_processfile_button0 {
    height: 30px;
    line-height: 27px;
    margin-left: 10px;
}

@media screen and (max-width:767px){
    .add_modele,
    .add_modele tbody,
    .add_modele tbody tr,
    .add_modele tbody tr th,
    .add_modele tbody tr td,
    .add_modele tbody tr td input:not([type="submit"]),
    .add_modele tbody tr td select{
        display:block;
        width:100% !important;
        box-sizing: border-box;
    }
    .add_modele tbody tr td{
        margin-bottom:10px;
    }
    .add_modele tbody tr td input[type="submit"]{
        margin-top:15px;
    }
    .add_modele tbody tr td input[type="file"] {
        font-size: 14px;
    }

    .modele_modifier select, .modele_modifier input {
        width: 67%;
        margin-left: 32%;
    }
    .modele_modifier td:not(.column-primary)::before{
        line-height:37px;
    }
}
